<%= form_for([@movie,@movie.comments.build]) do |f| %>

    <div class="field">
        <%= f.text_area :body, :class=>"form-control"  %>
    </div>
    <br>

<%= f.submit "Comment!", :class=>"btn btn-info" %>
<% end%>