<!DOCTYPE html>
<html>
<style>
    #content{
        height: 70%;
        width: 50%;
        background: rgb(255,255,255,0.3);
        border-radius: 10% 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #innerbody{
        height: 80vh;
        width 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<body>
    <div id="innerbody" align="center">
     <div id="content"><div style="color:rgb(255, 255, 255);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus egestas lacus vitae ullamcorper. 
     Praesent egestas velit et sodales sodales. Suspendisse turpis arcu, interdum id tellus sed, rhoncus feugiat mauris. Etiam pretium
      ut erat sit amet laoreet. Nullam laoreet nunc vel augue dapibus posuere. Vivamus at nulla cursus, laoreet elit eget, tincidunt velit. 
      Curabitur a felis vehicula libero dictum fringilla ut ac libero. Donec nec massa a lacus venenatis luctus ut nec justo. Phasellus tempus 
      urna orci, eget lobortis velit tempor id. Curabitur elementum suscipit felis eget iaculis. Pellentesque tempus quis diam at egestas. Suspendisse 
      in libero ultrices, tincidunt arcu at, congue est. Duis elementum tincidunt ipsum, vel finibus enim tincidunt ut. Pellentesque eget 
      libero vel ante cursus pretium in vitae ex. Sed odio justo, imperdiet in rutrum vitae, pellentesque eu neque. Nulla porta elit elit, 
      tincidunt placerat turpis eleifend eu.<div></div>
     </div>
</body>
</html>