<style>
  #login{
    width:50%;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:white;
  }
  #workblock{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
</style>

<%= link_to 'Back', movies_path , :style => "position: fixed; right:30px;", :class=>'btn btn-primary' %>

<div id="workblock">
<div id="login">
<div style="color:black;">
<h1>New Movie</h1>
<%= render 'form', movie: @movie %>
</div>
</div>
</div>